<h1>About <%= @artist.name %></h1>

<h2>Songs</h2>
<% @artist.songs.each do |song|%>
    <ul><%=song.name%></ul>
<%end%>

<h2>Genres</h2>
<% @artist.genres.each do |genre|%>
    <ul><%=genre.name%></ul>
<%end%>